.header {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  gap: 4rem;
  height: 30px;
  justify-content: space-between;
  padding: 2rem;
  z-index: 5;
}

.header__nav-btn--open,
.header__nav-btn--close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease-in .2s;
}

.header__nav-btn--open:hover,
.header__nav-btn--close:hover {
  transform: scale(1.15);
}

.header__modal {
  background-color: hsla(0, 1%, 17%, 0.315);
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 4rem;
  z-index: 10;
}

.header__modal-nav {
  align-items: center;
  background-color: white;
  border-radius: .4rem;
  box-shadow: 0px 0px 55px -10px rgba(14, 34, 22, 0.39);
  display: flex;
  flex-direction: column;
  left: 0rem;
  margin-top: 3rem;
  padding: 1rem 0;
  top: 8rem;
  width: 100%;
}

.hidden,
.header__nav--desktop {
  display: none;
}

.header__modal-nav a {
  color: var(--Dark-Blue);
  display: block;
  font-weight: 500;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  width: 100%;
}

.header__modal-nav a:hover {
  background-color: var(--Light-Grayish-Blue);
  color: black;
}

.header__btn {
  display: none;
}

@media (min-width: 800px) {
  .header__nav-btn--open,
  .header__modal,
  .header__nav-btn--close {
    display: none;
  }

  .header__nav--desktop {
    display: flex;
    gap: 1rem;
  }

  .header__nav--desktop a {
    border-bottom: 4px solid transparent;
    color: var(--Grayish-Blue);
    margin-top: 1.5rem;
    padding: 0 0 1rem 0;
    text-decoration: none;
    transition: all ease-in .1s;
    user-select: none;
  }

  .header__nav--desktop a:hover {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: var(--Dark-Blue);
  }

  .header__btn {
    background: linear-gradient(90deg, rgba(49, 211, 92, 1) 35%, rgba(43, 183, 218, 1) 100%);
    background: rgb(49, 211, 92);
    border-radius: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    padding: .5rem 1rem;
    transition: all ease-in .3s;
  }

  .header__btn:hover {
    opacity: .7;
  }
}

@media (min-width: 900px) {
  .header {
    padding: 2rem 4rem;
  }
}

@media (min-width: 1080px) {
  .header {
    padding-inline: 8rem;
  }

  .header__nav--desktop {
    gap: 2rem;
  }
}