.header {
  align-items: center;
  background-color: white;
  display: flex;
  gap: 4rem;
  height: 30px;
  justify-content: space-between;
  padding: 2rem;
}

.header__nav-btn--open,
.header__nav-btn--close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease-in .2s;
}

.header__nav-btn--open:hover,
.header__nav-btn--close:hover {
  transform: scale(1.15);
}

.header__modal {
  background-color: hsla(0, 1%, 17%, 0.315);
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  left: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 6rem;
  z-index: 100;
}

.header__modal-nav {
  box-shadow: 0px 0px 55px -10px rgba(14, 34, 22, 0.39);
  align-items: center;
  background-color: white;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  left: 0rem;
  padding: 1rem 0;
  top: 8rem;
  width: 100%;
}

.hidden {
  display: none;
}

.header__modal-nav a {
  color: var(--Dark-Blue);
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
}

.header__modal-nav a:hover {
  background-color: var(--Light-Grayish-Blue);
  color: black;
}

.header__btn {
  display: none;
}